.task-done {
    text-decoration: line-through;
  }

  .button-del i {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .button-update i {
    font-size: 20px;
    margin-right: 10px;
  }

  .checkbox-list {
    position: relative;
    cursor: pointer;
    outline: 0;
    position: relative;
    display: inline-block;
    margin: 4px 1px 0;

    border: 2px solid #ad823a;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    line-height: 1;
    text-align: center;
    font-size: 20px;

  }

  .list-tasks{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    padding-bottom: 5px;
  }
  
  .list-tasks span {
    color: #1d222b;
    font-size: 20px;
    margin: 0px 50px 0px 50px;
  }
  
  

  