.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    color: rgb(0, 0, 0);
    font-weight: bold;
    max-height: 250px;
    overflow: hidden;
    overflow-y: auto;
  }

  .never-register {
      display: flex;
      align-items:  center;
      justify-content: center;
      margin-top: 50px;
      font-size: 20px;
      font-weight: bold;
  }

  .count-tasks {
    display: flex;
    align-items:  center;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}